.filter-container {
    width: 40%;
    display:inline-block;

    h5 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dropdown-filter {
        width: 150px;
        font-size: 1rem;
        display: inline-block;
    }
}